{% extends 'base/base.html' %}

{% block content %}
<div class="col-md-8 m-auto">
    <div class="card">
        <div class="card-header">Create Student</div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <!--<div class="form-row">-->
                <!--<label for="name">Name</label>-->
                <!--<input type="text" name="name" class="form-control" id="name" placeholder="Student name">-->
                <!--</div>-->
                <!--<div class="form-row">-->
                <!--<label for="age">Age</label>-->
                <!--<input type="number" name="age" class="form-control" id="age">-->
                <!--</div>-->
                <!--<div class="form-row">-->
                <!--<div class="form-group col-md-6">-->
                <!--<label for="dob">Date of birth</label>-->
                <!--<input type="date" name="dob" class="form-control" id="dob">-->
                <!--</div>-->
                <!--<div class="form-group col-md-4">-->
                <!--<label for="gender">Gender</label>-->
                <!--<select id="gender" name="gender" class="form-control">-->
                <!--<option selected>Male</option>-->
                <!--<option>Female</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-row">-->
                <!--<label for="contact">Contact</label>-->
                <!--<input type="tel" name="contact" class="form-control" id="contact">-->
                <!--</div>-->
                <!--<div class="form-row">-->
                <!--<label for="record">Records</label>-->
                <!--<textarea name="recort" class="form-control" id="record"></textarea>-->
                <!--</div>-->
                {{ forms.as_p }}
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}